<!DOCTYPE html>
{% load static %} {% load tailwind_tags %}
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    {% tailwind_css %}
    <title>{% block title %} {% endblock title %}</title>
    <link rel="stylesheet" href="{% static 'global.css' %} " />
    <link rel="stylesheet" href="{% static 'tailwind.css' %} " />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Lato:wght@700&family=Roboto&display=swap"
      rel="stylesheet"
    />
    {% block others %} {% endblock others %}
  </head>
  <body
    class="bg-black text-gray-100 font-primary"
    style="background: #f6f6f7; color: #333"
  >
    {% block content %} {% endblock content %}

    <script>
      const nav = document.querySelector("nav");

      document.addEventListener("scroll", (e) => {
        if (scrollY > 100) {
          nav.classList.add("bg-gray-900");
        } else {
          nav.classList.remove("bg-gray-900");
        }
      });
    </script>
  </body>
</html>
